//
//  NicerTouchBarTests.xcconfig
//  NicerTouchBar
//
//  Created by Matt Massicotte on 2019-10-31.
//  Copyright © 2019 Chime Systems. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// this is a convenience way to reference touchbar stuff in the tests
// without needing avability guards
MACOSX_DEPLOYMENT_TARGET = 10.13
