//
//  Config.xcconfig
//  NicerTouchBar
//
//  Created by Matt Massicotte on 2019-08-31.
//  Copyright © 2019 Chime Systems. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = NicerTouchBar
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.NicerTouchBar
PRODUCT_MODULE_NAME = NicerTouchBar
CURRENT_PROJECT_VERSION = 7
MARKETING_VERSION = 1.0.6

INFOPLIST_FILE = NicerTouchBar/Info.plist

MACOSX_DEPLOYMENT_TARGET = 10.10
